body {
  background-color: black;
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
  color: #fff;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 20px 0;
}

nav > ul > li {
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.7s;
}

nav > ul > li.active {
  background-color: white;
  transition: 0.7s;
  color: black;
}

nav > ul > li.active a {
  color: black;
}

nav > ul > li a {
  text-decoration: none;
  font-size: 5vw;
}

@media screen and (min-width: 550px) {

  nav > ul > li a {
    text-decoration: none;
    font-size: 25px;
  }

}

.mainbody {
  padding: 20px;
}

a:focus,
a:active {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background: white;
  padding: 10px 25px;
  border-radius: 10px;
  z-index: 20;
  max-width: 500px;
  width: 70%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal h1 {
  color: black;
}

.modal p {
  color: black;
}

.modal a {
  color: black;
}

button {
  background-color: black;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #fff;
  margin: 10px 0;
}